<!DOCTYPE html>
<html>

<head>
	<title>Welcome to Codebudyy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
		type="text/css" />
	<link rel="stylesheet" type="text/css" href="./css/styles.css" />

	<script type="text/javascript">
		window.addEventListener('DOMContentLoaded', event => {

			// Navbar shrink function
			var navbarShrink = function () {
				const navbarCollapsible = document.body.querySelector('#mainNav');
				if (!navbarCollapsible) {
					return;
				}
				if (window.scrollY === 0) {
					navbarCollapsible.classList.remove('navbar-shrink')
				} else {
					navbarCollapsible.classList.add('navbar-shrink')
				}

			};

			// Shrink the navbar 
			navbarShrink();

			// Shrink the navbar when page is scrolled
			document.addEventListener('scroll', navbarShrink);

			// Activate Bootstrap scrollspy on the main nav element
			const mainNav = document.body.querySelector('#mainNav');
			if (mainNav) {
				new bootstrap.ScrollSpy(document.body, {
					target: '#mainNav',
					offset: 72,
				});
			};

			// Collapse responsive navbar when toggler is visible
			const navbarToggler = document.body.querySelector('.navbar-toggler');
			const responsiveNavItems = [].slice.call(
				document.querySelectorAll('#navbarResponsive .nav-link')
			);
			responsiveNavItems.map(function (responsiveNavItem) {
				responsiveNavItem.addEventListener('click', () => {
					if (window.getComputedStyle(navbarToggler).display !== 'none') {
						navbarToggler.click();
					}
				});
			});

		});

	</script>
</head>

<body id="page-top" style="margin: 0;padding: 0;">
	<div>
		<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
			<div class="container">
				<a class="navbar-brand" href="/dashboard">CODE BUDDY</a>
				<button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
					type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					Menu
					<i class="fas fa-bars"></i>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ms-auto">
						<!--<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" >View
						  Profile</a>
					  </li>-->
						<div style="display: flex;align-items: center;">
							<p style="color: white;margin-top: 10px;">USER NAME : </p>
							<li class="nav-item mx-0 mx-lg-1" style="color: white;">
								<%=profilename%>
							</li>
						</div>
						<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
								onclick="logout()">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<header class="masthead bg-primary text-white text-center">
		<div class="container d-flex align-items-center flex-column">
			<div class="container">
				<div class="row">
					
					<div class="col-sm-6" style="border-right: 2px dashed black;">
						<h3>Search a existing query</h3>
						
						<div class="dropdown" style="float: left;padding-top: 3%">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								style=" padding: 10px 20px;font-size: 20px;border-radius: 10px;">
								Order
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style=" padding: 10px 20px;
								font-size: 20px;
									border-radius: 10px;">
								<a class="dropdown-item" onclick="newQuery('n')">Newer Query</a>
								<a class="dropdown-item" onclick="oldQuery()">Older Query</a>
							</div>
						</div>
						<label for="tag" style="font-size: 20px">TAG:</label><br>
						<div class="col-sm-4 offset-sm-4">
							<div class="input-group ">
								<input type="text" class="form-control" aria-label="Default"
									aria-describedby="inputGroup-sizing-default" placeholder="Enter tag to search"
									size="4" onkeydown="search(this)">

							</div>
							<div>
								<small>Give enter after typing...</small>
							</div>

						</div>
					</div>

					<div class="col-sm-6">
						<h3 style=" padding-bottom: 3%">Ask a new question</h3>
						<button type="button" class="btn btn-dark" style=" padding: 10px 20px;
							font-size: 20px;border-radius: 10px;">
							<a href="/newquery" style="text-decoration: none;">Ask a question
							</a>
						</button>
					</div>

				</div>
			</div>
		</div>
	</header>
	<section class="page-section bg-transparent mb-0">
		<div class="container">
			<% for (var i=0;i<allquery.length;i++){%>
				<br /><br />
				<div class="card" >
					<div class="card-body" style="display:flex;flex-direction: row;">
						<span style="width:50%">
						<h5 class="card-title" style="font-size: 24px;">
								Query:<%=allquery[i].question%>
						</h5>
						<h6 class="card-subtitle mb-2 text-muted" style="font-size: 18px;margin-top: 10px;">Tag name: <span style="color:#1abc9c;"><%=allquery[i].tag %></span><br /></h6>
						<p class="card-subtitle mb-2 text-muted" style="font-size: 14px;margin-top: 10px;">Query raised by: <span style="color:#1abc9c;"><%=allquery[i].name %></span> <br /></p>
						<p class="card-subtitle mb-2 text-muted" style="font-size: 14px;margin-top: 10px;">Query raised at: <span style="color:#1abc9c;"><%=allquery[i].createdAt %></span><br /><br /></p>
					</span>
					<span style="width:50%;float:right;margin-top: 50px;">
						<a onclick="callsinglequery('<%=allquery[i]._id%>')" class="card-link" style="cursor: pointer;text-decoration: none;font-size: 18px;margin-top: 50px;">All Comments -></a>
					</span>
					</div>
				</div>
				
					
						

							<%}%>
		</div>
	</section>

	<!-- Footer-->
	<footer class="footer text-center">
		<div class="container">
			<div class="row">
				<!-- Footer Location-->
				<div class="col-lg-6 mb-5 mb-lg-0">
					<h4 class="text-uppercase mb-4">Location:</h4>
					<p class="lead mb-0">
						NMAM Institute of Technology
						<br />
						Nitte,Karkala
					</p>
				</div>
				<!-- Footer Social Icons-->
				<!--<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">Around the Web</h4>
				<a class="btn btn-outline-light btn-social mx-1" href="#!"><i
						class="fab fa-fw fa-facebook-f"></i></a>
				<a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
				<a class="btn btn-outline-light btn-social mx-1" href="#!"><i
						class="fab fa-fw fa-linkedin-in"></i></a>
				<a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
			</div>-->
				<!-- Footer About Text-->
				<div class="col-lg-6">
					<h4 class="text-uppercase mb-4">Project By:</h4>
					<p class="lead mb-0">
						Vaishnavi P Shetty &<br>
						Vaishnavi Hegde
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Copyright Section-->
	<div class="copyright py-4 text-center text-white">
		<div class="container"><small>Copyright &copy; Code Buddy 2021</small></div>
	</div>


	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<!-- * *                               SB Forms JS                               * *-->
	<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
	<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
	<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
	<!--<body>
	 <div class="navigation">

		<a class="button" href="login.ejs">
			<img
				src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
			<div class="edit">VIEW PROFILE</div>

		</a>
		<button class="logout" href=><a href="">LOGOUT</a></button>
	</div> -->

	<!--<div class="maincontent">
		<div class=" dropdown" style="margin-bottom: 10px;  margin-right:10px">
			<button class="dropbtn">SORT</button>
			<div class="dropdown-content">
				<a href="#">Newer queries</a>
				<a href="#">Older queries</a>
			</div>
		</div>
		<div style="margin-bottom: 10px; margin-right:10px ">
			<label for="tag" style="text-align: left; font-weight: bold">TAG:</label><br>
			<input placeholder="Enter tag to search">
		</div>


		<button class="dropbtn"><a href="/newquery">ASK A QUESTION</a></button>


	</div>
	<div>
		<% for (var i=0;i<allquery.length;i++){%>
			<br /><br />
			<%=allquery[i].tag %><br />
				<div onclick="callsinglequery('<%=allquery[i]._id%>')">
					<%=allquery[i].question%>
				</div>
				<%}%>
	</div>

	</div>-->

	<script>
		function search(ele) {
			if (event.key === 'Enter') {
				// alert(ele.value);
				location.assign(`/dashboard?id=${ele.value}`);
			}
		}
		// console.log("123", allquery)
		async function callsinglequery(i) {
			// console.log("called", i)
			localStorage.setItem("question", i);
			location.assign(`/allquery?id=${i}`)

		}

		async function newQuery(i) {
			location.assign(`/dashboard?id=${i}`);
			// console.log("new query",i)

		}
		async function oldQuery(i) {
			location.assign(`/dashboard`);
			// console.log("new query",i)

		}

		async function logout() {
			try {
				await fetch("/logout", {
					credentials: "include",
					"method": "GET",
					"headers": { "Content-type": "application/json" }
				}).then(resp => {
					if (resp.status == "200") {
						location.assign("/")
					}
				})
			} catch (e) {
				console.log(e)
			}
		}

	</script>
</body>

</html>